{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 *
 */
#}


<table{{ attributes.addClass(classes) }}>
    {% if caption_needed %}
        <caption>
            {% if caption %}
                {{ caption }}
            {% else %}
                {{ title }}
            {% endif %}
        </caption>
    {% endif %}

    <thead>
    <tr>
        {% for key, column in header %}
            <th> {{ column }}</th>
        {% endfor %}
    </tr>
    </thead>

    <tbody>
    <tr>
    {% for row_index, row in rows %}
        <tr>
        {% for col_index, content in row %}
            {% if content.header %}
                <th>{{ content }}</th>
            {% else %}
                <td>{{ content }}</td>
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
    </tr>
    </tbody>
</table>
